<footer class="footer-distributed">


    <div class="footer-left">
  
      <p class="footer-links">
        <a class="link-1" href="/">Home</a>
  
        <a href="https://omicronctf.xyz/invite.html?utm_source=omicronctf.xyz&utm_medium=footer&utm_campaign=omicronctf.xyz">Join our Discord Server</a>
  
      </p>
  
      <p>Omicron CTF &copy; 2021</p>
    </div>
  
  </footer>