
  <div class="navbar-dark text-white">
    <div class="container">
      <nav class="navbar px-0 navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a href="/" class="p-3 text-decoration-none text-light active">Home</a>
            <a href="/invite.html?utm_source=omicronctf.xyz&utm_medium=navbar&utm_campaign=omicronctf.xyz" class="p-3 text-decoration-none text-light">Join our Discord
              Server</a>
          </div>
        </div>
      </nav>

    </div>
  </div>